p{
    color: blueviolet;
    font-size: 50px;
}

h1{
    color: brown;
    font-size: 100px;
}

a{
    color: greenyellow;
    font-size: 25px;
}

#yellow{
    color: yellow;
}

.blue{
    color: blue;
}

.abc{
    font-size: 100px;
}

#box1{
    width: 200px;
    height: 200px;
    background-color: aqua;

    border-color: blueviolet;
    border-width: 10px;
    border-style: solid;
}


















