p{
    color: blueviolet;
    font-size: 50px;
}

h1{
    color: brown;
    font-size: 100px;
}

a{
    color: greenyellow;
    font-size: 25px;
}

/* id选择器 */
#yellow{
    color: yellow;
}

/* 类选择器 */
.blue{
    color: blue;
}

.abc{
    font-size: 100px;
}

/* 通配选择器  *{}  */

/* 交集选择器 表示同时满足h1 .blue 才会被选中 */ 
h1.blue{
      font-size: 50px;
}

/* 并集选择器 h1,p{} 表示只要含有h1，p，都会被选中 */
